@model TRS_06_28_2016_ESH_YMCUSTOMER.Models.YMCustomersIndexViewModel

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/DataTables")
<table id="main-table" class="display table">
    <thead>
        <tr style="background-color:powderblue;">
            @foreach (var m in Model.DisplayOrder)
            {
                if (Model.displayNames.ContainsKey(@m))
                {
                    <td>@Model.displayNames[@m]</td>
                }
                else
                {
                    <td>@m</td>
                }

            }
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.YMCustomers)
        {
           <tr>
               @foreach ( var t in Model.DisplayOrder)
               {
                   <td>
                       @p.GetType().GetProperty(@t).GetValue(p,null)

                   </td>
               }
               <td>
               @Html.ActionLink("Edit","Edit","YMCustomers",new { id = p.ym_customer_id },new { @class = "btn btn-info" })
               @Html.ActionLink("Delete", "Delete", "YMCustomers", new { id = p.ym_customer_id }, new { @class = "btn btn-info" })
               @Html.ActionLink("Details", "Details", "YMCustomers", new { id = p.ym_customer_id }, new { @class = "btn btn-info" })
               </td>
           </tr>
        }
    </tbody>

</table>
@Html.ActionLink("Create","Create","YMCustomers", new { @class = "btn btn-info" })

<script type="text/javascript">
    $(document).ready(function () {
        $('#main-table').DataTable();
    });

</script>
